---
import '../../styles/global.css';
import Bloglayout from '../../layouts/bloglayout.astro';
import WorkPreview from '../../components/work-preview.astro';
import TagCell from '../../components/tag-cell.astro';


export async function getStaticPaths() {
  const allPosts = Object.values(import.meta.glob('../stuff/*.md', { eager: true }));

  const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

---
<style>
    h1{
        color: darkmagenta
    }
    .posts-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 2rem; 
        margin: 2rem 5%;
        grid-auto-flow: row dense;
    }

</style>
<Bloglayout>
    <div class = centerer>
    Looking for: <TagCell tag = {tag} class = centerer> </TagCell>
  </div>
  <div class="posts-grid">
    
    {posts.map((post: any) => <WorkPreview url = {post.url} title = {post.frontmatter.title} date = {post.frontmatter.date} tags = {post.frontmatter.tags} description = {post.frontmatter.summary}/>)}
  </div>
  
</Bloglayout>

        
  
